{% extends "base.html" %}
{% load static %}

{% block extra_title %}About Us{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="row mx-auto">
        <div class="col-12 col-md-6 text-center mx-auto pt-2">
            <h2 class="page-title custom-font text-white mx-auto p-2">Welcome to <span class="custom-gold">Bling
                    It</span>!</h2>
        </div>
        <div class="about-p col col-md-12 col-xl-10 mx-auto mt-3 p-3">
            <p class="pb-2">
                At Bling It, we're more than just a gemstone shop—we're a celebration of love, beauty, and
                craftsmanship. My personal passion for diamonds and rubies ignited the spark that led to the creation of
                Bling It. What started as a fascination with the brilliance and allure of gemstones has blossomed into a
                platform where others can share in the magic of these exquisite treasures.
            </p>
            <p class="pb-2">
                Our mission is simple: to offer you an unforgettable shopping experience filled with wonder and
                discovery. We've meticulously curated a collection of gemstones, including diamonds, rubies, sapphires,
                emeralds, and more, each chosen with care and expertise. Whether you're searching for a dazzling
                centerpiece for a special occasion or a timeless piece to cherish for a lifetime, Bling It has something
                extraordinary waiting for you.
            </p>
            We believe in making your journey through our collection as seamless and enjoyable as possible. That's
            why we've designed our website to be user-friendly and intuitive, with detailed specifications and
            pricing available on every gemstone page. You can explore our collection with ease, customizing your
            search to find the perfect piece that speaks to you.
            <p class="pb-2">
                But our commitment to your satisfaction doesn't end there. We understand the importance of trust and
                security when it comes to online shopping, which is why we've implemented a secure checkout process to
                ensure that your transactions are safe and smooth. Your peace of mind is our priority.
            </p>
            <p class="pb-2">
                At Bling It, we're not just selling gemstones—we're sharing stories, creating memories, and helping you
                find the perfect expression of your unique style and personality. Thank you for joining us on this
                sparkling journey.
            </p>
            <p class="pb-2">
                With love and sparkle,<br>
                <span class="custom-font custom-blue">Bling It</span> team <img src="{% static 'images/logo.png' %}"
                    alt="Logo of Blint It, golden diamond with sparkle on top" class="small-logo img-fluid">
            </p>
        </div>
    </div>
</div>
{% endblock %}