{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    New gemstone arrivals are here!
                </h1>
            </div>
            <div class="my-5">
                <a href="" class="show-now-button btn btn-lg rounded-0 text-white text-uppercase py-3">Shop Now</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="text-white"><i class="fa-solid fa-envelope-open-text text-white"></i> Subscribe to our newsletter!</h3>
                <p class="text-white">Subscribe to receive the latest news, special offers and sales notifications</p>
                <form>
                    <div class="form-group">
                    <label class="text-white text-muted" for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted text-white">We'll never share your email with anyone else.</small>
                    </div>
                    <button type="submit" class="show-now-button btn btn-lg rounded-0 text-white text-uppercase py-3">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}