{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center col-md-4 mx-auto mt-2">
            <h2 class="page-title custom-font text-white mx-auto p-2">My Profile</h2>
        </div>
    </div>
    <div class="profile-container my-3">
        <div class="tab-container pb-2 mt-3">
            <div class="text-center tab">
                <button class="tablinks px-3 py-2" onmouseover="openTab(event, 'orders')">Orders</button>
                <button class="tablinks px-3 py-2" onmouseover="openTab(event, 'delivery')">Delivery Info</button>
                <button class="tablinks px-3 py-2" onmouseover="openTab(event, 'wishlist')">Wishlist</button>
            </div>

            <div id="orders" class="tabcontent p-2">
                <h4 class="custom-font text-center custom-gold pt-2">Orders</h4>
                <p id="order-text" class="text-center text-blue text-justify">No orders placed yet! Start exploring our
                    exquisite collection to discover your next gemstone!</p>
            </div>

            <div id="delivery" class="custom-blue tabcontent p-2">
                <h4 class="custom-font text-center custom-gold pt-2">Default Delivery Information</h4>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="delivery-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="custom-gemstone-btn btn rounded-0">Update Information</button>
                    </div>
                </form>
            </div>

            <div id="wishlist" class="tabcontent p-2">
                <h4 class="custom-font text-center custom-gold pt-2">Wishlist</h4>
                <p id="wishlist-text" class="text-center text-blue text-justify">Your wishlist is currently empty.
                    Explore our stunning gemstones and add your favourites to the wishlist to keep track of them!</p>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    var wishlistEmpty = false; // Set this to true if wishlist is empty 
    var noOrdersPlaced = false; // Set this to true if there are no orders placed


    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";

        // Check if there are any orders placed
        if (tabName === 'orders' && noOrdersPlaced) {
            // Show the text
            document.getElementById('order-text').style.display = 'block';
        }

        // Check if there are any gemstones in the wishlist
        if (tabName === 'wishlist' && wishlistEmpty) {
            // Show the text
            document.getElementById('wishlist-text').style.display = 'block';
        }
    }
</script>
{% endblock %}