{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}Profile{% endblock %}

{% block content %}
<div class="container-fluid py-3">
    <div class="row">
        <div class="col text-center col-md-4 mx-auto mt-2">
            <h1 class="page-title custom-font text-white mx-auto p-2">My Profile</h1>
        </div>
    </div>
    <div class="profile-container my-3">
        <div class="tab-container pb-2 mt-3">
            <div class="text-center tab">
                <button id="orders-tab" class="tablinks px-3 py-2" onmouseover="openTab(event, 'orders')"
                    aria-label="Opens order history tab">Orders</button>
                <button id="delivery-tab" class="tablinks px-3 py-2 active" onmouseover="openTab(event, 'delivery')"
                    aria-label="Opens delivery address tab">Delivery
                    Info</button>
                <button id="wishlist-tab" class="tablinks px-3 py-2" onmouseover="openTab(event, 'wishlist')"
                    aria-label="Opens wishlist tab">Wishlist</button>
            </div>

            <div id="orders" data-tab="orders" class="tab-content p-2">
                <!-- Display Order History -->
                <h2 class="profile-tab custom-font text-center custom-red pt-2">Orders</h2>
                <div class="order-history text-center table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}" aria-label="Order history">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                        <li class="small">
                                            {{ item.gemstone.name }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>€{{ order.grand_total }}</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="order-status text-center">
                                    <strong class="custom-gold">Status:</strong> {{ order.get_status_display }}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td>
                                    <p id="order-text" class="text-center text-blue text-justify">No orders placed yet!
                                        Start exploring our
                                        exquisite collection to discover your next gemstone!</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- Pagination -->
                        <div class="row my-3">
                            <div class="col">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        {% if orders.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?orders_page={{ orders.previous_page_number }}"
                                                aria-label="Previous page">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% for num in orders.paginator.page_range %}
                                        {% if orders.number == num %}
                                        <li class="page-item active"><span class="page-link rounded-0">{{ num }}</span>
                                        </li>
                                        {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
                                        <li class="page-item px-2"><a class="page-link"
                                                href="?orders_page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if orders.has_next %}
                                        <li class="page-item rounded-0">
                                            <a class="page-link rounded-0"
                                                href="?orders_page={{ orders.next_page_number }}"
                                                aria-label="Next page">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </table>
                </div>
            </div>

            <div id="delivery" data-for-tab="delivery" class="custom-blue tab-content p-2 active">
                <h2 class="profile-tab custom-font text-center custom-red pt-2">Default Delivery Information</h2>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="delivery-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="custom-gemstone-btn btn rounded-0"
                            aria-label="Button to update information">Update Information</button>
                    </div>
                </form>
            </div>

            <div id="wishlist" data-for-tab="wishlist" class="tab-content p-2">
                <!-- Display Wishlist -->
                <h2 class="profile-tab custom-font text-center custom-red pt-2">Wishlist</h2>
                <div class="wishlist-items text-center table-responsive">
                    <table class="wishlist-table table table-sm">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in wishlist_items %}
                            <tr>
                                <td class="wishlist-td">
                                    <a href="{% url 'gemstone_detail' item.id %}"
                                        aria-label="Brings to individual gemstome page">
                                        <img src="{{ item.image.url }}" alt="{{ item.name }}"
                                            class="wishlish-img img-fluid"></a>
                                </td>
                                <td class="wishlist-td pt-3">{{ item.name }}</td>
                                <td class="wishlist-td pt-3">€{{ item.price }}</td>
                                <td class="wishlist-td pt-3">
                                    <small><a class="remove-link custom-red" href="{% url 'add_to_wishlist' item.id %}"
                                            aria-label="Link to remove gemstone from wishlist">Remove</a></small>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">Your wishlist is currently empty. Explore our
                                    stunning gemstones and add your favourites to the wishlist to keep
                                    track of them!</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- Pagination -->
                        <div class="row my-3">
                            <div class="col">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        {% if wishlist_items.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ wishlist_items.previous_page_number }}"
                                                aria-label="Previous page">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% for num in wishlist_items.paginator.page_range %}
                                        {% if wishlist_items.number == num %}
                                        <li class="page-item active"><span class="page-link rounded-0">{{ num }}</span>
                                        </li>
                                        {% elif num > wishlist_items.number|add:'-3' and num < wishlist_items.number|add:'3' %}
                                        <li class="page-item px-2"><a class="page-link"
                                                href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if wishlist_items.has_next %}
                                        <li class="page-item rounded-0">
                                            <a class="page-link rounded-0"
                                                href="?page={{ wishlist_items.next_page_number }}"
                                                aria-label="Next page">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}