{% load static %}

{% block content %}
{% if wishlist %}
{% for item in wishlist %}
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
        <div class="gemstone-info">
            <a href="{% url 'gemstone_detail' item.gemstone.id %}" class="img-fluid">
                <img src="{{ item.gemstone.image_url }}" alt="An image of {{ item.gemstone.name }}">
            </a>
            <p class="text-blue">Name: {{ gemstone.name }}</p>
            <p class="text-blue">Carats: {{ gemstone.carats }}</p>
            <p class="text-blue">Price: ${{ gemstone.price }}</p>
            <a class="remove-item custom-red pl-4" id="remove_{{ item.item_id }}"><small>Remove</small></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
            <form method="POST" action="{% url 'add_to_wishlist' item.gemstone.id %}">
                {% csrf_token %}
                <button type="submit" name="wishlist" value="submit" aria-label="add to wishlist">
                    <i class="fa-solid fa-heart"></i>
                </button>
                <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
            </form>
            <form action="{% url 'add_to_bag' item.gemstone.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="quantity" value="1">
                <input type="submit" class=" add-to-cart" value="Add To Bag">
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p id="wishlist-text" class="text-center text-blue text-justify">
    Your wishlist is currently empty. Explore our stunning gemstones and add your favourites to the wishlist to keep
    track of them!
</p>
{% endif %}
{% endblock %}

<script src="{% static 'js/script.js' %}"></script>