{% load static %}

{% block content %}
{% if wishlist %}
{% for item in wishlist %}
<div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
        <div class="gemstone-info">
            <img src="{{ gemstone.image_url }}" alt="An image of {{ gemstone.name }}">
            <p class="text-blue">Name: {{ gemstone.name }}</p>
            <p class="text-blue">Carats: {{ gemstone.carats }}</p>
            <p class="text-blue">Price: ${{ gemstone.price }}</p>
            <a class="remove-item custom-red pl-4" id="remove_{{ item.item_id }}"><small>Remove</small></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p id="wishlist-text" class="text-center text-blue text-justify">
    Your wishlist is currently empty. Explore our stunning gemstones and add your favourites to the wishlist to keep
    track of them!
</p>
{% endif %}
{% endblock %}

<script src="{% static 'js/script.js' %}"></script>