{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2 class="page-title custom-font text-white text-center mx-auto py-2">{% trans "Log In" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="account-p mx-auto mt-2">{% blocktrans with site.name as site_name %}Please log in with one
  of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and log in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="account-p mx-auto mt-3">{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}" class="account-p-link custom-gold">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login custom-blue p-2 my-3 mx-2" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="account-btn mb-2">
    <button class="custom-gemstone-btn px-2 py-1" type="submit">{% trans "Log In" %}</button>
  </div>
  <p class="mt-2 text-center">
    <a class="account-link custom-gold font-weight-bold"
      href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
</form>
<div class="account-btn mb-2">
  <a class="custom-primary-btn btn rounded-0" href="{% url 'home' %}">Home</a>
</div>

{% endblock %}