{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h1 class="page-title custom-font text-white text-center mx-auto py-2">{% trans "Change Password" %}</h1>

    <div class="account-container row mx-1 my-4">
        <div class="col">
    <form method="POST" action="{% url 'account_change_password' %}" class="password custom-blue p-2 my-3 mx-2 password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="account-btn mb-2">
            <button class="custom-gemstone-btn px-2 py-1" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
    </div>
    </div>
    <div class="account-btn mb-2">
        <a class="btn custom-gemstone-btn rounded-0" href="{% url 'account_login' %}">Back to Login</a>
    </div>
{% endblock %}