{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h2 class="page-title custom-font text-white text-center mx-auto py-2">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password custom-blue p-2 my-3 mx-2 password_set">
        {% csrf_token %}
        {{ form|cripsy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
