{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h2 class="page-title custom-font text-white text-center mx-auto mt-2 px-2 py-2">{% trans "Sign Up" %}</h2>

<p class="account-p mx-auto mt-4 py-2">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="custom-gold">log
    in</a>.{% endblocktrans %}</p>

<form class="signup custom-blue p-2 my-3 mx-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="account-btn mb-2">
    <button class="custom-gemstone-btn px-2 py-1" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>

{% endblock %}